body {
	overflow: hidden;
}
img {
	opacity: 0;
}
#sliders {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 30%;
	background: #cfc;
	padding: 2em;
	margin: 0;
	width: calc(30% - 4em);
	display: flex;
	flex-direction: column;
}
#sliders li {
	flex: 1;
	font-size: 1.5em;
}
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.credits,
li.options {
	flex: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
label {
	display: block;
}
input {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
.attr {
	/* display: block; */
	display: none;
	font-size: .5em;
}
#canvas {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 30%;
	bottom: 0;
	top: 0;
	right: 0;
	text-align: center;
	background: #000 url('img/10.jpg');
	background-size: cover;
	background-position: 50% 40%;
}
canvas {
	display: inline-block;
}
#poll {
	background: #00f;
	color: white;
	font-family: sans-serif;
	box-shadow: 0 -.5em 1em rgba(0,0,0,.25) inset;
	padding: 1em;
	border-radius: .5em;
}
#poll:hover {
	background: #66f;
	text-decoration: none;
}
#poll-window {
	margin: 0;
	padding: 2em;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: calc(30% - 4em);
	background: white;
	overflow: auto;
}
#poll-window:not(.hidden) ~ #canvas {
	right: 30%;
}
#poll-window li {
	cursor: pointer;
	color: blue;
}
#poll-window li:hover {
	text-decoration: underline;
}
.hidden {
	display: none;
}
.loading {
	background: url('img/spinner.gif');
}
.loading * {
	display: none;
}
#close-polls {
	position: absolute;
	top: 2em;
	right: 2em;
	font-size: 1.5em;
}
#close-polls:hover {
	text-decoration: none;
}